Repository tsucchinoko/leet-code-practice: changes, and which lefthook commands are due for each by the changed paths.
All: format-go, format-ts, format-md, format-yml

lefthook.yml:

# Lefthook configuration for LeetCode practice repository

pre-push:
  parallel: true
  commands:
    format-go:
      glob: "problem/**/go/*.go"
      run: |
        for file in {staged_files}; do
          gofmt -w "$file"
          goimports -w "$file" 2>/dev/null || true
        done

    format-ts:
      glob: "problem/**/ts/*.ts"
      run: |
        for file in {staged_files}; do
          deno fmt "$file"
        done

    format-md:
      glob: "**/*.md"
      run: |
        for file in {staged_files}; do
          deno fmt "$file"
        done

    format-yml:
      glob: "**/*.{yml,yaml}"
      run: |
        for file in {staged_files}; do
          deno fmt "$file"
        done

    test-go:
      glob: "problem/**/go/*.go"
      run: |
        for dir in $(find problem -name "go" -type d); do
          if [ -f "$dir/go.mod" ]; then
            echo "Testing $dir"
            (cd "$dir" && go test ./...)
          fi
        done

    test-ts:
      glob: "problem/**/ts/*.ts"
      run: |
        for dir in $(find problem -name "ts" -type d); do
          if [ -f "$dir/deno.json" ] || [ -f "$dir/deno.jsonc" ]; then
            echo "Testing $dir"
            (cd "$dir" && deno test)
          fi
        done

pre-commit:
  parallel: true
  commands:
    format-go:
      glob: "problem/**/go/*.go"
      run: |
        for file in {staged_files}; do
          gofmt -w "$file"
          goimports -w "$file" 2>/dev/null || true
          git add "$file"
        done

    format-ts:
      glob: "problem/**/ts/*.ts"
      run: |
        for file in {staged_files}; do
          deno fmt "$file"
          git add "$file"
        done

    format-md:
      glob: "**/*.md"
      run: |
        for file in {staged_files}; do
          deno fmt "$file"
          git add "$file"
        done

    format-yml:
      glob: "**/*.{yml,yaml}"
      run: |
        for file in {staged_files}; do
          deno fmt "$file"
          git add "$file"
        done

feat: Palindrome Number by go
  problem/palindrome-number/README.md
  problem/palindrome-number/go/go.mod
  problem/palindrome-number/go/main.go
  problem/palindrome-number/go/main_test.go
Due: format-go, format-md

feat: Valid Palindrome 2 by go
  problem/valid-palingrome-2/README.md
  problem/valid-palingrome-2/go/go.mod
  problem/valid-palingrome-2/go/main.go
  problem/valid-palingrome-2/go/main_test.go
Due: format-go, format-md

feat: Merge String Alternately by go
  problem/merge-string-alternately/README.md
  problem/merge-string-alternately/go/go.mod
  problem/merge-string-alternately/go/main.go
  problem/merge-string-alternately/go/main_test.go
Due: format-go, format-md

doc: ブロックコメントを使わないよう修正
  problem/merge-string-alternately/go/main.go
Due: format-go

feat: Merge Sorted Array by go
  problem/merge-sorted-array/README.md
  problem/merge-sorted-array/go/go.mod
  problem/merge-sorted-array/go/main.go
  problem/merge-sorted-array/go/main_test.go
Due: format-go, format-md

refactor: テストケースのサマリーがわかりやすくなるようにリファクタリング
  problem/merge-sorted-array/go/main_test.go
Due: format-go

feat: Longest Common Prefix by go
  problem/longest-common-prefix/README.md
  problem/longest-common-prefix/go/go.mod
  problem/longest-common-prefix/go/main.go
  problem/longest-common-prefix/go/main_test.go
Due: format-go, format-md

feat: Add binary search solution for Longest Common Prefix problem in Go language
  problem/longest-common-prefix/README.md
  problem/longest-common-prefix/go/main.go
  problem/longest-common-prefix/go/main_test.go
Due: format-go, format-md

Create Taskfile.yml
  Taskfile.yml
Due: none

Update README.md
  README.md
Due: none

feat: Remove Element by go
  Taskfile.yml
  problem/remove-element/README.md
  problem/remove-element/go/go.mod
  problem/remove-element/go/main.go
  problem/remove-element/go/main_test.go
Due: format-go, format-md

feat: Remove Duplicate from sorted array by go
  problem/remove-duplicate-from-sorted-array/README.md
  problem/remove-duplicate-from-sorted-array/go/go.mod
  problem/remove-duplicate-from-sorted-array/go/main.go
  problem/remove-duplicate-from-sorted-array/go/main_test.go
Due: format-go, format-md

feat: Remove Duplicate from sorted array 2 by go
  problem/remove-duplicate-from-sorted-array-2/README.md
  problem/remove-duplicate-from-sorted-array-2/go/go.mod
  problem/remove-duplicate-from-sorted-array-2/go/main.go
  problem/remove-duplicate-from-sorted-array-2/go/main_test.go
Due: format-go, format-md

feat: Majority Element by go
  problem/majyority-element/README.md
  problem/majyority-element/go/go.mod
  problem/majyority-element/go/main.go
  problem/majyority-element/go/main_test.go
Due: format-go, format-md

feat: Rotate Array by go
  problem/rotate-array/README.md
  problem/rotate-array/go/go.mod
  problem/rotate-array/go/main.go
  problem/rotate-array/go/main_test.go
Due: format-go, format-md

feat: Best Time to Buy and Sell Stock 2 by go
  problem/best-time-to-buy-and-sell-stock-2/README.md
  problem/best-time-to-buy-and-sell-stock-2/go/go.mod
  problem/best-time-to-buy-and-sell-stock-2/go/main.go
  problem/best-time-to-buy-and-sell-stock-2/go/main_test.go
Due: format-go, format-md

feat: Jump Game by go
  problem/jump-game/README.md
  problem/jump-game/go/go.mod
  problem/jump-game/go/main.go
  problem/jump-game/go/main_test.go
Due: format-go, format-md

feat: Jump Game 2 by go
  problem/jump-game-2/README.md
  problem/jump-game-2/go/go.mod
  problem/jump-game-2/go/main.go
  problem/jump-game-2/go/main_test.go
Due: format-go, format-md

feat: H-Index by go
  problem/h-index/README.md
  problem/h-index/go/go.mod
  problem/h-index/go/main.go
  problem/h-index/go/main_test.go
Due: format-go, format-md

feat: Insert Delete GetRandom O(1) by go
  problem/Insert-Delete-GetRandomO1/README.md
  problem/Insert-Delete-GetRandomO1/go/go.mod
  problem/Insert-Delete-GetRandomO1/go/main.go
  problem/Insert-Delete-GetRandomO1/go/main_test.go
Due: format-go, format-md

feat: Product of Array Except Self by zig
  problem/bk_product-of-array-except-self/README.md
  problem/bk_product-of-array-except-self/zig/.gitignore
  problem/bk_product-of-array-except-self/zig/build.zig
  problem/bk_product-of-array-except-self/zig/build.zig.zon
  problem/bk_product-of-array-except-self/zig/src/main.zig
  problem/bk_product-of-array-except-self/zig/src/main_test.zig
  problem/bk_product-of-array-except-self/zig/src/root.zig
Due: format-md

mv
  problem/product-of-array-except-self/README.md
  problem/product-of-array-except-self/zig/.gitignore
  problem/product-of-array-except-self/zig/build.zig
  problem/product-of-array-except-self/zig/build.zig.zon
  problem/product-of-array-except-self/zig/src/main.c
  problem/product-of-array-except-self/zig/src/main.zig
  problem/product-of-array-except-self/zig/src/main_test.zig
  problem/product-of-array-except-self/zig/src/root.zig
Due: format-md

feat: Product of Array Except Self by C
  main
  problem/product-of-array-except-self/zig/main
  problem/product-of-array-except-self/zig/main.c
Due: none

feat: Gas Station by zig
  problem/gas-station/README.md
  problem/gas-station/zig/.gitignore
  problem/gas-station/zig/build.zig
  problem/gas-station/zig/build.zig.zon
  problem/gas-station/zig/src/main.zig
  problem/gas-station/zig/src/main_test.zig
  problem/gas-station/zig/src/root.zig
Due: format-md

feat: Gas Station by C
  problem/gas-station/zig/gas_station
  problem/gas-station/zig/src/main.c
Due: none

feat: Roman to Integer by zig
  .gitignore
  problem/roman-to-integer/README.md
  problem/roman-to-integer/build.zig
  problem/roman-to-integer/build.zig.zon
  problem/roman-to-integer/src/main.c
  problem/roman-to-integer/src/main.zig
  problem/roman-to-integer/src/main_test.zig
  problem/roman-to-integer/src/root.zig
Due: format-md

feat: Integer to Roman by zig
  problem/integer-to-roman/README.md
  problem/integer-to-roman/zig/build.zig
  problem/integer-to-roman/zig/build.zig.zon
  problem/integer-to-roman/zig/src/main.c
  problem/integer-to-roman/zig/src/main.zig
  problem/integer-to-roman/zig/src/root.zig
Due: format-md

feat: Length of Last Word by go
  problem/Length-of-Last-Word/README.md
  problem/Length-of-Last-Word/go/go.mod
  problem/Length-of-Last-Word/go/main.go
  problem/Length-of-Last-Word/go/main_test.go
Due: format-go, format-md

feat Reverse Words in a String by go
  problem/reverse-words-in-a-string/README.md
  problem/reverse-words-in-a-string/go/go.mod
  problem/reverse-words-in-a-string/go/main.go
  problem/reverse-words-in-a-string/go/main_test.go
Due: format-go, format-md

feat: Find the first of the first occurrence in a string
  problem/find-the-index-of-the-first-occurrence-in-a-string/README.md
  problem/find-the-index-of-the-first-occurrence-in-a-string/go/go.mod
  problem/find-the-index-of-the-first-occurrence-in-a-string/go/main.go
  problem/find-the-index-of-the-first-occurrence-in-a-string/go/main_test.go
Due: format-go, format-md

doc: add lps
  problem/find-the-index-of-the-first-occurrence-in-a-string/README.md
Due: format-md

feat: valid parindrome by go
  problem/valid-palindrome/README.md
  problem/valid-palindrome/go/go.mod
  problem/valid-palindrome/go/main.go
  problem/valid-palindrome/go/main_test.go
Due: format-go, format-md

refactor
  problem/valid-palindrome/go/main.go
Due: format-go

feat: Is Subsequence by go
  problem/is-subsequence/README.md
  problem/is-subsequence/go/go.mod
  problem/is-subsequence/go/main.go
  problem/is-subsequence/go/main_test.go
Due: format-go, format-md

feat: Two Sum 2 - Input Array is Sorted by go
  problem/two-sum-2-input-array-is-sorted/README.md
  problem/two-sum-2-input-array-is-sorted/go/go.mod
  problem/two-sum-2-input-array-is-sorted/go/main.go
  problem/two-sum-2-input-array-is-sorted/go/main_test.go
Due: format-go, format-md

feat: Greatest Common Divisor of Strings by go
  problem/greatest-common-divisor-of-strings/README.md
  problem/greatest-common-divisor-of-strings/go/go.mod
  problem/greatest-common-divisor-of-strings/go/main.go
  problem/greatest-common-divisor-of-strings/go/main_test.go
Due: format-go, format-md

feat: Kids With the Greatest Number of Candies by go
  problem/kids-with-the-greatest-number-of-candies/README.md
  problem/kids-with-the-greatest-number-of-candies/go/go.mod
  problem/kids-with-the-greatest-number-of-candies/go/main.go
  problem/kids-with-the-greatest-number-of-candies/go/main_test.go
Due: format-go, format-md

feat: Can Place Flowers by go
  problem/can-place-flowers/README.md
  problem/can-place-flowers/go/go.mod
  problem/can-place-flowers/go/main.go
  problem/can-place-flowers/go/main_test.go
Due: format-go, format-md

feat: Reverse Vowels of a String by go
  problem/reverse-vowels-of-a-string/README.md
  problem/reverse-vowels-of-a-string/go/go.mod
  problem/reverse-vowels-of-a-string/go/main.go
  problem/reverse-vowels-of-a-string/go/main_test.go
Due: format-go, format-md

feat: 母音の判定を関数化
  problem/reverse-vowels-of-a-string/go/main.go
Due: format-go
